*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form{
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
}
.form h4{
  font-size: 22px;
  margin-bottom: 20px;
}
.textos{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
.form .Ingresar{
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.form .Ingresar:hover{
  background: white;
  color: #0051B4;
}
.pais{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}
#container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
  }
  
  .buttons {
    min-width: 310px;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0;
  }
  
  .buttons button {
    cursor: pointer;
    border: 1px solid silver;
    border-right-width: 0;
    background-color: #f8f8f8;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
    transition-duration: 0.3s;
  }
  
  .buttons button:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
  }
  
  .buttons button:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-right-width: 1px;
  }
  
  .buttons button:hover {
    color: white;
    background-color: rgb(158, 159, 163);
    outline: none;
  }
  
  .buttons button.active {
    background-color: #0051B4;
    color: white;
  }